body {
  background-color: blanchedalmond;
}

button {
  margin: 10px;
}

canvas {
  /* margin: 10px; */
  width: 320;
  height: 240;
}

video {
  width: 320;
  height: 240;
}

row {
  width: 100px;
}

/* 
#start-camera-col {
  background-color: rgba(200, 50, 230, 0.5);
}
#video-col {
  background-color: rgba(150, 100, 230, 0.5);
}
#click-photo-col {
  background-color: rgba(100, 150, 230, 0.5);
}
#canvas-col {
  background-color: rgba(50, 200, 230, 0.5);
}
#strg-v-col{
    background-color: rgba(00, 250, 230, 0.5);
} */
