html {
  min-width: 100%;
}

body {
  background-color: blanchedalmond;
  min-width: 100%;
}

button {
  margin: 10px;
}

video {
  border-radius: 16px 16px 16px 16px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

row {
  width: 100px;
}

canvas{
  border-radius: 8px 8px 8px 8px;
}

